<!DOCTYPE html>
<html>
<head>

	<title>Book List Page</title>
	<% include ../partials/head %>

</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<h2><label>Book List</label></h2>
		</div>
		<div class="row">
			<table class="table table-bordered" style="margin:0px auto; width:600px" align="center">
				<thead>
					<tr>
						<th>Book ISBN</th>
						<th>Book Name </th>
						<th>Book Author</th>
						<th>Available Copies</th>
					</tr>
				</thead>
				<tbody>
					<% data.forEach(function(book){%>
						<tr>
							<td><%= book.ISBN %></td>
							<td><%= book.bookname %></td>
							<td><%= book.authorname %></td>
							<td><%= book.numofcopies %></td>
						</tr>

					<%});%>
				</tbody>
			</table>
		</div>
	</main>

	<hr />

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>